* {
    margin:0;
    padding:0;
}
html {
    font-family: 'Open Sans Condensed', sans-serif;
}
header h1 {
    font-size: 5rem;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: #fff ;
    color: darkslategray;
	font-weight: 300;
    font-family: 'Love Light', cursive;
}
header {
    display: block;
    width:100%;
    height:120px;
}
/*main page*/
.recipes_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    padding:10px;
  }
  .box {
    position: relative;
  }

  .food_image {
    display: block;
    width: 100%;
    height: auto;
  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: auto;
    opacity: 0;
    transition: .3s ease;
    background-color: rgba(255,255,255,0.5);
    pointer-events: none;
    
  }
  
  .box:hover .overlay {
    opacity: 1;
  }
  .text {
    color: darkslategray;
    font-size: 5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Love Light', cursive;
  }
  .recipe_info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    padding-bottom: 30px;
  }
.pasta_text, .pizza_text, .soup_text {
    padding-top: 20px;
    
}
.pasta_text {
    padding-left: 15px;
}
.soup_text {
    padding-right: 15px;
}
footer {
    display: flex;
    justify-content: right;
    align-items: center;
    width:100%;
    height:40px;
    background-color: darkslategray;
    color:white;
    font-weight: 200;
    font-size: 1rem;
    text-align: right;
   
    
}
footer p {
    margin-right: 30px;
    
}

/*recipes page*/
.container {
    display:grid;
    grid-template-columns: 1fr 1fr;
    padding:50px;

}
.image img {
    width:500px;
    height:500px;
    padding-left:40px;
}
.ingredients {
    font-size: 1.3rem;
}
.ingredients h2 {
    padding-bottom: 40px;
    text-align: left;
    font-weight:200;
    color:darkslategrey;
    
}
.ingredients li{
    list-style-position: inside;
}
.directions_container {
    display:grid;
    grid-template-columns: 1fr 1fr;
    padding-top:20px;

}
.directions {
    padding:40px;
    font-size: 1.3rem;
    width:800px;
}
.directions h2 {
    padding-bottom: 20px;
    text-align: left;
    font-weight:300;
    color:darkslategrey;
    font-family: ;

}
.directions li {
    list-style-position: inside;
    padding-bottom: 5px;
}
.misc li{
    list-style: none;
    padding-bottom: 5px;
}
.misc {
    display:flex;
    justify-content: center;
    align-items: center;
}
.misc_list {
    border: 2px solid darkslategrey;
    padding:20px;
    margin-right:60px;
    margin-bottom: 20px;
}